@model OnlineClipboard.Models.EntryViewModel

@{
    ViewData["Title"] = Html.DisplayFor(model => model.id);
}

<h1 class="title">@Html.DisplayFor(model => model.id)@(Model.custom_id != null ? " (" + Model.custom_id + ")" : "")</h1>

<div>
<div class="pb-2 pt-2 border-secondary border-2">
    <pre class="content" id="content-block">@Html.DisplayFor(model => model.content)</pre>
</div>
    
</div>
<div>
    <form asp-action="Delete" asp-route-id="@Model.id">
        <button type="submit" class="btn btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Delete Entry"><i class="fa-solid fa-trash"></i></button>
        <a asp-action="Create" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Create New Entry"><i class="fa-solid fa-plus"></i></a>
        <button class="btn btn-outline-primary" id="copy-button" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Copy Entry Content"><i class="fa-solid fa-clipboard"></i></button>
    </form>
</div>
@section Scripts{
    <environment include="Development">
        <script src="~/js/details.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/details.min.js"></script>
    </environment>
}