@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="title">400 - Bad Request</h1>
    <h2>The server could not understand your request. Please check the URL, headers, and payload for any errors.</h2>
    @if (Model.IsDevelopmentEnvironment)
    {
        <div class="error-details">
            <ul>
                <li>From Exception: @(Model.FromException ? Html.Raw("<i class=\"fa-solid fa-square-check\"></i>") : Html.Raw("<i class=\"fa-solid fa-square-xmark\"></i>"))</li>
                @if (Model.RequestId != null)
                {
                    <li>Request ID: @Model.RequestId</li>
                }
                @if (Model.Path != null)
                {
                    <li>Path: @Model.Path</li>
                }
                @if (Model.Exception != null)
                {
                    <li>Exception: @Model.Exception.Message</li>
                }
            </ul>
        </div>
    }
</div>