@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="title">404 - Not Found</h1>
    <h2>The requested resource could not be found. Please check the URL and try again.</h2>
    @if (Model.IsDevelopmentEnvironment)
    {
        <div class="error-details">
            <ul>
                <li>From Exception: @(Model.FromException ? Html.Raw("<i class=\"fa-solid fa-square-check\"></i>") : Html.Raw("<i class=\"fa-solid fa-square-xmark\"></i>"))</li>
                @if (Model.RequestId != null)
                {
                    <li>Request ID: @Model.RequestId</li>
                }
                @if (Model.Path != null)
                {
                    <li>Path: @Model.Path</li>
                }
                @if (Model.Exception != null)
                {
                    <li>Exception: @Model.Exception.Message</li>
                }
            </ul>
        </div>
    }
</div>