$niei: #5600b8;
$niei2: #7700ff;
$niei-black: #0b0f11;
$galliker: #780121;

$primary: $niei;
$secondary: $niei2;
$dark: $niei-black;
$gray-900: $niei-black;
$danger: $galliker;

$btn-link-color: $primary;
$btn-link-hover-color: $primary;

@import "../lib/bootstrap/scss/bootstrap.scss";
@import "../lib/bootstrap/css/bootstrap.css";

// Other CSS

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0b0f11;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5600b8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #5600b8;
    border-radius: 5px;
}

::selection {
    color: white;
    background: #5600b8;
    border-radius: 5px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    font-size: 14px;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a {
    text-decoration: none ;
}

.title {
    font-size: 60px;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.content-text{
    font-family: monospace;
    width: 30vw;
    height: 40vh;
}

.custom-input{
    width: 18em;
}

pre{
    font-size: 0.875em;
    color: var(--bs-code-color);
    word-wrap: break-word;
}

@media (max-width: 600px) {
    #disclaimer-text {
        display: none;
    }
    .theme-nav-item{
        display: none;
    }
    .content-text {
        width: 80vw;
        height: 30vh;
    }
    .title {
        font-size: 10vw;
    }
}